@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css");


body {
	font-family: Roboto, Helvetica, Arial;
	font-family: 'Manrope' !important;
	font-size:16px;
	margin:0;
	padding:0;
	color: #222 !important;
	background-color: #cecece5e !important;
}

a { 
	text-decoration: none !important;
	color: #222 !important;
}


.Links {
	display:flex;
	gap:10px;
}

.Header {
    width: 100%;
   /* min-height: 100px;*/
    background-color: #fff;
    align-items: center;
    padding: 10px;
    display: flex;
}

.hdr_centerstyle div a {
	font-family: 'ManropeMedium';
}



.hdr_centerstyle {
  /*  background-color: #fff;   */
    border-radius: 4rem;
    gap: 20px;
    display: flex;
    padding: 14px;
}



@font-face {
	font-family: 'ManropeRegular';
	src: url('../fonts/static/Manrope-Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal
}


@font-face {
	font-family: 'ManropeMedium';
	src: url('../fonts/static/Manrope-Medium.ttf') format('truetype');
	font-weight: normal;
    font-style: normal
}


@font-face {
	font-family: 'Manrope';
	src: url('../fonts/Manrope-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
    font-style: normal
}



.jcenter {
    justify-content: center;
}


.fright1  {
    justify-content: end;
    display:flex;
    gap:15px;
}


.button {
	outline: none;
    border: 0;
    background: #000;
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
}



.wrapper_cntr {
    max-width: 500px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px 40px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206);
}


.h_h1z {
	text-align: center;
    font-family: cursive;
    font-weight: bold !important;
    color: #400485 !important;
    font-style: italic;
    font-size: 24px;
}


.centerization {
	text-align:center;
	display:block;
}


.textCntq1z {
    color: #6c757d !important;
    text-align: center !important;
    padding-top: .5rem !important;
}



.pform12 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 15px;
}


.input {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #400485;
    color: #400485;
}


.clq1z_a {
	font-weight:bold;
	font-size:18px !important;
}



.wrrpr1 {
    max-width: 500px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px 40px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206);
}


.ttq_qq {
text-align:center;
}

.pdng8 {
padding-bottom: 8px;
}

.ttq_qq35q {
margin-top:35px;
}


.dFle1 {
    justify-content: center;
    display:flex;
    flex-wrap:nowrap;
    gap:20px;
}


.fforHeadings {
    font-size: 2rem;

}

.wrrpr1ForPriceLists {
	max-width: 500px;
    border-radius: 30px;
    margin: 50px auto;
    padding: 30px 40px;
    background: rgb(255 255 255);
}


.sprice1 {
    background: #000;
    width: 100%;
}


.opacity {
    opacity: 0.6;
}


.pp {
	font-size: 20px;
    font-weight: 500;
    font-family: 'Manrope';
}

.ull_2 {
	padding-left: 20px;
    margin: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}


.usrComps {
    justify-content: end;
    display: flex;
    gap: 15px;
    align-items: center;
    height: 100%;
}


.xz_1 {

	background: #e32b3a;
    padding: 8px 10px;
    border-radius: 6px;
    color: #fff !important;
}
