body {
	font-family: Roboto, Helvetica, Arial;
	font-family: 'Manrope' !important;
	font-size:16px;
	margin:0;
	padding:0;
	color: #222 !important;
}

a { 
	text-decoration: none !important;
	color: #222 !important;
}


.Links {
	display:flex;
	gap:10px;
}

.Header {
    width: 100%;
    min-height: 100px;
    background-color: #cecece5e;
    align-items: center;
    padding: 10px;
    display: flex;
}



.hdr_centerstyle {
    background-color: #fff;
    border-radius: 4rem;
    gap: 20px;
    display: flex;
    padding: 14px;
}



@font-face {
	font-family: 'ManropeRegular';
	src: url('../fonts/static/Manrope-Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal
}




@font-face {
	font-family: 'Manrope';
	src: url('../fonts/Manrope-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
    font-style: normal
}



.jcenter {
    justify-content: center;
}


.fright1  {
    justify-content: end;
    display:flex;
    gap:15px;
}


.button {
	outline: none;
    border: 0;
    background: #000;
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
}



.wrapper_cntr {
    max-width: 500px;
    border-radius: 10px;
    margin: 50px auto;
    padding: 30px 40px;
    box-shadow: 20px 20px 80px rgb(206, 206, 206);
}


.h_h1z {
	text-align: center;
    font-family: cursive;
    font-weight: bold !important;
    color: #400485 !important;
    font-style: italic;
    font-size: 24px;
}


.centerization {
text-align:center;
display:block;
}


.textCntq1z {
    color: #6c757d !important;
    text-align: center !important;
    padding-top: .5rem !important;
}



.pform12 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 15px;
}


.input {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #400485;
    color: #400485;
}


.clq1z_a {
font-weight:bold;
font-size:18px !important;
}
